<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">Latino .Net Online Admin</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>

		<AuthorizeView>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="links">
					<span class="oi oi-link-intact" aria-hidden="true"></span> Links
				</NavLink>
			</li>
		</AuthorizeView>

		<AuthorizeView Roles="Admin">
	
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="callforspeakers">
					<span class="oi oi-microphone" aria-hidden="true"></span> Call For Speakers
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="users">
					<span class="oi oi-person" aria-hidden="true"></span> Usuarios
				</NavLink>
			</li>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="notifications">
					<span class="oi oi-bell" aria-hidden="true"></span> Notificaciones
				</NavLink>
			</li>

			<li class="nav-item px-3">
				<NavLink class="nav-link" href="unavailabledates">
					<span class="oi oi-rain" aria-hidden="true"></span> Fechas No Disponibles
				</NavLink>
			</li>
		</AuthorizeView>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
