@page "/Webinars"
@inject IWebinarService WebinarService
@using LatinoNetOnline.Admin.Pages.Webinars.Components
<h3>Webinars</h3>


@foreach (var webinar in webinars)
{
    <WebinarCard Webinar="webinar" />
}



@code {
    IEnumerable<Webinar> webinars = new List<Webinar>();
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        var result = await WebinarService.GetAsync();
        webinars = result.Result;

        loading = false;
    }
}
