@page "/callforspeakers/{Id:guid}"
@attribute [Authorize(Roles = "Admin")]
@using LatinoNetOnline.Admin.Pages.CallForSpeakers.Components
@inject IProposalService ProposalService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject NavigationManager NavigationManager

@if (loading)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
}
else
{
    <h1>@proposal.Title</h1>

    <RadzenTabs style="max-height: 600px" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Speakers">
                <SpeakerTab Speakers="speakers" />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Charla">
                <ProposalTab Proposal="proposal" />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Preguntas">
                <QuestionTab Proposal="proposal" />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Webinar">
                <WebinarTab Proposal="proposal" />
            </RadzenTabsItem>

             <RadzenTabsItem Text="Reporte">
                <ReportTab Proposal="proposal" />
            </RadzenTabsItem>

        </Tabs>

    </RadzenTabs>
    <div class="row">

        <RadzenButton Size="ButtonSize.Medium" Text="Editar" Icon="edit" Click="args => Edit()" />


        <RadzenButton Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Danger" Text="Eliminar" Icon="close" Click="args => Delete()" />
    </div>
}


@code {
    [Parameter]
    public Guid Id { get; set; }

    Proposal proposal;
    IEnumerable<Speaker> speakers;
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        var proposalResult = await ProposalService.GetByIdAsync(Id);
        proposal = proposalResult.Result.Proposal;
        speakers = proposalResult.Result.Speakers;

        loading = false;
    }

    async Task Delete()
    {
        var result = await DialogService.Confirm($"¿Desea borrar la charla?", "Eliminar Charla", new ConfirmOptions()
        {
            OkButtonText = "Si",
            CancelButtonText = "No"
        });

        if (result.HasValue && result.Value)
        {

            var response = await ProposalService.DeleteAsync(proposal.ProposalId);

            if (response.IsSuccess)
            {
                NavigationManager.NavigateTo("CallForSpeakers");
            }
            else
                ShowNotification("Error Eliminar Charla", response);

        }
    }

    void ShowNotification(string title, OperationResult result)
    {
        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Error,
            Summary = title,
            Detail = result.Error?.Code,
            Duration = 4000
        });
    }

    void Edit()
    {
        NavigationManager.NavigateTo($"CallForSpeakers/{Id}/Edit");
    }
}