@page "/meetup/authentication"
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject IMeetupService meetupService
@using Microsoft.AspNetCore.WebUtilities

<h3>AuthenticationMeetup</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        var uri = NavManager.Uri;
        int indexHash = uri.IndexOf('#');
		
		string hashParams = uri.Substring(indexHash + 1);

        if (QueryHelpers.ParseQuery(hashParams).TryGetValue("access_token", out var token))
        {
            localStorage.SetItem("meetup_access_token", token);

            if (localStorage.ContainKey("meetup_redirect"))
            {

                NavManager.NavigateTo(localStorage.GetItemAsString("meetup_redirect"));

            }
            else
            {
                 NavManager.NavigateTo("/");
            }
        }
    }

}
