@page "/"
@inject NavigationManager NavigationManager




<h1>Latino .NET Online App</h1>


<AuthorizeView>
	<NotAuthorized>
		Inicia sesión y no olvides activar las notificaciones!

		<div class="row">
			<div class="alert alert-secondary mt-4" role="alert">
				<RadzenButton Click=@(args => OnClick()) Text="Iniciar Sesión" Icon="account_circle" Style="width: 300px" />
			</div>
		</div>
	</NotAuthorized>
</AuthorizeView>






@code {

	void OnClick()
	{
		NavigationManager.NavigateTo("authentication/login");

	}

}

